html, body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  color: #444;
}

body {
  font-family: "Sawarabi Mincho", serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 540px;
  padding: 0 7px;
  box-sizing: border-box;
}

.mochigomas {
  margin: 7px 0;
  width: 70%;
}

#gote_mochigomas {
  margin-left: 30%;
}

.minus_buttons {
  width: 70%;
  height: 20px;
  display: flex;
}

#gote_minus_buttons {
  margin-left: 30%;
  flex-direction: row-reverse;
}

.minus_button {
  flex: 1;
}

.minus_button button {
  display: block;
  border: 1px solid #444;
  border-radius: 3px;
  width: 25px;
  height: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.shogi__cell,
.shogi__koma {
  cursor: pointer;
}

.buttons {
  margin: 20px 7px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay--show {
  display: block;
}

.scrim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  height: 0;
}

.modal--near_bottom {
  top: 70%;
}

.modal__content {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 7px;
  transform: translateY(-50%);
  filter: drop-shadow(0px 0px 5px #666);
}

.modal__control {
  padding: 7px;
}

.modal__komas {
  display: flex;
  padding: 0 7px 8px 7px;
}

.modal__komas .shogi__koma {
  cursor: pointer;
  flex: 1;
}
